<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mede.com.medesharevietnam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationInitializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCXU3fyHtCtaekRyMKfhqXlE7xTJE8Ruzs" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.MatchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.DoctorMatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".controller.ConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.ConfirmPopUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.MatchingInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".controller.HanoiDeptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".controller.HanoiDoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>